*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    line-height:1.6;
    color:#111;
}
header.header-container{
    text-align:center;
    background-color:#120323;
    color:white;
    padding:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
header.header-container img{
    max-width:120px;
    height:auto;
    margin-bottom:0.5rem;
}
#container{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:1rem;
}
figure img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
    border:5px solid #d9043d;
}
figcaption{
    text-align:left;
}
aside{
    background-color:#97bf04;
    color:#000;
    padding:1rem;
}
footer{
    background-color:#d9043d;
    color:white;
    padding:1rem;
    text-align:center;
}

@media (max-width:767px){
    header.header-container{
        flex-direction:column;
    }
    header.header-container img,
    header.header-container h1{
        width:100%;
        text-align: center;
    }
    figure img{
        width:100%;
    }
    aside{
        width:100%;
        order: 3;
    }
}

@media (min-width:768px) and (max-width:999px){

    figure img{
        width:45%;
        height:auto;
        border: none;
    }
    figcaption{
        width:50%;
        padding:0;
    }

    figure{
        display:flex;
        flex-direction:row;
        align-items:stretch;
        border:5px solid #d9043d;
        padding:1rem;
        gap:1rem;
    }
}

@media (min-width:1000px){
    #container{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:2rem;
        align-items: start;
    }
    figure{
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:space-between;
        gap: 2rem;
    }
    figure img{
        width:55%;
        height:auto;
        display:block;
        border:5px solid #d9043d;
    }
    figcaption{
        width:40%;
        text-align:left;
        align-self: flex-start;
    }
    main{
        grid-column:1;
    }
    aside{
        grid-column: 2;
        align-self: start;
        width:100%;

    }
}